body{
    width: 1300px;
    display: block;
    margin: 0 auto;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
}
.header{
    height: 100px;
    background-color:rgba(169, 191, 228, 1) ;
}
.logo{
    display: inline-block;
    margin: 5px 15px;
}
.navigation-top{
    display: inline-block;
    margin: 0 auto;
    padding: 10px 100px;
    line-height: 3em;
    font-size: 22px;
    text-align: center;
}
.icons-header{
    display: inline-block;
    padding: 0 25px;
    margin: 0 15px;
}
.icons-header:hover{
    cursor: pointer;
}
a{
    padding: 20px 30px;
    color: white;
    text-decoration-line: none;
}
a:hover{
    text-decoration-line: underline;
    color: white;
}
.img-section1{
    margin: 50px auto;
    float: right;
}
.section1-content{
    width: 1100px;
    padding: 160px 
}
.title{
    font-size: 50px;
}
.content{
    font-size: 30px;
}
.button-s1{
    font-size: 23px;
    margin: 50px 25px;
    background-color: rgba(255, 194, 199, 1);
    color: white;
    border-radius:50px;
    border: 1px solid rgba(255, 194, 199, 1);
    padding: 10px 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.button-s1:hover{
    border: 1px solid rgba(255, 194, 199, 1);
    background-color: white;
    color:  rgba(152, 158, 195, 1);
}

.bouquets{
    background: #A9BFE4;
    color: white;
    border: 1px solid #A9BFE4;
    border-radius: 0%;
    font-size: 20px;
}
.bouquets:hover{
    cursor:auto;
    background: #A9BFE4;
    color: white;
    border: 1px solid #A9BFE4;
    border-radius: 0%;
    font-size: 20px;
}
.section2{
    border: none;
    display: block;
    height: 750px;
}
.img-fluid{
    width: 400px;
    height: 280px;
}
.button-s2{
    color: white;
    background-color: #A9BFE4;
    border: 1px solid #A9BFE4;
    font-size: 35px;  
    padding: 5px 40px;
    transition: all 3ms ease-in-out;
}
.button-s2:hover{
    cursor: default;
font-size: 37px;
}

.button-bouquets{
    position: relative;
    top: -75px ;
    right: -100px;
   
}
.button-natural-flowers{
    position: relative;
    top: -75px ;
    right: -110px;
}
.button-own-bouquet{
    position: relative;
    top: -75px ;
    right: -55px;
}
.about-us-img{
    float: right;
    margin: 90px auto 0 auto;
    width: 40%;
    height: 300px;
}
.abstract_background{ 
    float: right;
    margin: 0 0;
}
.women{
    float: right;
    margin: 0 0;
    position: relative;
    top: -461px;
    left: -122px;
}
.icon{
    display: block;
    margin: 20px auto;
}
.icon:hover{
    cursor: pointer;
}
.icons{
    width: 100px;
    position: relative;
    top: -700px;
    right: -395px;
}

.about-us-text{
    float: left;
    margin: 0 0 0 90px;
    width: 45%;
    font-size: 30px;
    font-family: 'Lora';
}
.title-about-us{
    font-size: 50px;
}
.vl{
    display: inline;
    border-left: 2px solid rgba(255, 194, 199, 1);
    vertical-align: top;
}
.article{
    display: inline-block;
   padding-left : 40px;
   font-weight: 500;
}
.section3{
    width: 1300px;
    height: 300px;
    background: rgba(169, 191, 228, 0.3);
    display: block;
    margin: 0 auto;
    padding: 30px 85px;
    font-style: normal;
    font-weight: 400;
}
.title-section3{
    color: #989EC3;
}

.constructor,
.indor,
.delivery,
.for-loved-ones{
    display: inline-block;
    width: 24%;
    padding: 10px 0;
    font-size: 23px;
    text-align: center;
    color: #351F21;
}
.section4{
    height: 1270px;
    padding: 0 84px;
}
.card-section4{
    display: inline-block;
    width: 310px;
    height: 500px;
    box-shadow: 0 6px 12px rgba(255, 194, 199, 1);
}
.card-section4:hover{
    box-shadow: 0 4px 8px rgba(172, 172, 172, 1);
}
.button-s4{
    display: block;
    margin: 0 auto;
    background-color: white;
    color:  rgba(152, 158, 195, 1);
    font-size: 23px;
    border-radius:50px;
    border: 3px solid rgba(255, 194, 199, 1);
    padding: 5px 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.button-s4:hover{
    border: 3px solid rgba(152, 158, 195, 1);
}
.pagination-container{
    display: block;
    margin: 0 auto;
    text-align: center;
}
.pagination{
    display: inline-block;
    color: rgba(152, 158, 195, 1);
    font-size: 50px;
}
.pagination:hover{
    color: rgba(255, 194, 199, 1);
    text-decoration: none;
}
.pagination:active{
    color: rgba(255, 194, 199, 1);
    text-decoration: none;
}
.active{
    color: rgba(255, 194, 199, 1);
}
.arrow{
font-size: 65px;
}
.section5{
    background-color:rgba(169, 191, 228, 0.2) ;
    height: 1100px;
}
.flowers-right{
   float: right;
   margin: 0 auto;
    position: relative;
    top: -150px;
}
.flowers-left{
    float: left;
    margin: 0 auto;
    position: relative;
    bottom: -140px;
}
.text-review{
    font-size: 21px;
}
.line-in-review{
    color: rgba(255, 194, 199, 1);
    width: 70px;
    border: 2px solid  rgba(255, 194, 199, 1);
    
}
.name-person{
    color: rgba(152, 158, 195, 1);
    font-size: 19px;
}
.print-review{
    display: block;
    margin: 0 auto;
    padding: 100px 150px;
}
.form-review{
    height: 120px;
    vertical-align: top;
}
