:root{
    --blue-color: rgba(169, 191, 228, 1) ;
    --pink-color: rgba(255, 194, 199, 1);
    --white-color: white;
    --blue-grey-color:#A9BFE4;
}


body{
    width: 1300px;
    display: block;
    margin: 0 auto;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
}
.header{
    height: 100px;
    background-color:var(--blue-color) ;
}
.logo{
    display: inline-block;
    margin: 5px 15px;
}
.navigation-top{
    display: inline-block;
    margin: 0 auto;
    padding: 10px 100px;
    line-height: 3em;
    font-size: 22px;
    text-align: center;
}
.icons-header{
    display: inline-block;
    padding: 0 25px;
    margin: 0 15px;
}
.icons-header:hover{
    cursor: pointer;
}
a{
    padding: 20px 30px;
    color: var(--white-color);
    text-decoration-line: none;
}
a:hover{
    text-decoration-line: underline;
    color: var(--white-color);
}
.img-section1{
    margin: 50px auto;
    float: right;
}
.section1-content{
    width: 1100px;
    padding: 160px 
}
.title{
    font-size: 50px;
}
.content{
    font-size: 30px;
}
.button-s1{
    font-size: 23px;
    margin: 50px 25px;
    background-color: var(--pink-color);
    color: var(--white-color);
    border-radius:50px;
    border: 1px solid var(--pink-color);
    padding: 10px 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.button-s1:hover{
    border: 1px solid var(--pink-color);
    background-color: var(--white-color);
    color:  var(--blue-color);
}

.bouquets{
    background: var(--blue-grey-color);
    color: var(--white-color);
    border: 1px solid var(--blue-grey-color);
    border-radius: 0%;
    font-size: 20px;
}
.bouquets:hover{
    cursor:auto;
    background: var(--blue-grey-color);
    color: var(--white-color);
    border: 1px solid var(--blue-grey-color);
    border-radius: 0%;
    font-size: 20px;
}
.section2{
    border: none;
    display: block;
    height: 750px;
}
.img-fluid{
    width: 400px;
    height: 280px;
}
.button-s2{
    color: var(--white-color);
    background-color:var(--blue-grey-color);
    border: 1px solid var(--blue-grey-color);
    font-size: 35px;  
    padding: 5px 40px;
    transition: all 3ms ease-in-out;
}
.button-s2:hover{
    cursor: default;
font-size: 37px;
}

.button-bouquets{
    position: relative;
    top: -75px ;
    right: -100px;
   
}
.button-natural-flowers{
    position: relative;
    top: -75px ;
    right: -110px;
}
.button-own-bouquet{
    position: relative;
    top: -75px ;
    right: -55px;
}
.about-us-img{
    float: right;
    margin: 90px auto 0 auto;
    width: 40%;
    height: 300px;
}
.abstract_background{ 
    float: right;
    margin: 0 0;
}
.women{
    float: right;
    margin: 0 0;
    position: relative;
    top: -461px;
    left: -122px;
}
.icon{
    display: block;
    margin: 20px auto;
}
.icon:hover{
    cursor: pointer;
}
.icons{
    width: 100px;
    position: relative;
    top: -700px;
    right: -395px;
}

.about-us-text{
    float: left;
    margin: 0 0 0 90px;
    width: 45%;
    font-size: 30px;
    font-family: 'Lora';
}
.title-about-us{
    font-size: 50px;
}
.vl{
    display: inline;
    border-left: 2px solid var(--pink-color);
    vertical-align: top;
}
.article{
    display: inline-block;
   padding-left : 40px;
   font-weight: 500;
}
.section3{
    width: 1300px;
    height: 300px;
    background: var(--blue-color);
    display: block;
    margin: 0 auto;
    padding: 30px 85px;
    font-style: normal;
    font-weight: 400;
}
.title-section3{
    color: #3f4250;
}

.constructor,
.indor,
.delivery,
.for-loved-ones{
    display: inline-block;
    width: 24%;
    padding: 10px 0;
    font-size: 23px;
    text-align: center;
    color: #351F21;
}
.section4{
    height: 1270px;
    padding: 0 84px;
}
.card-section4{
    display: inline-block;
    width: 310px;
    height: 500px;
    box-shadow: 0 6px 12px var(--pink-color);
}
.card-section4:hover{
    box-shadow: 0 4px 8px var(--blue-color);
}
.button-s4{
    display: block;
    margin: 0 auto;
    background-color: var(--white-color);
    color:  var(--blue-color);
    font-size: 23px;
    border-radius:50px;
    border: 3px solid var(--pink-color);
    padding: 5px 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.button-s4:hover{
    border: 3px solid var(--blue-color);
}
.pagination-container{
    display: block;
    margin: 0 auto;
    text-align: center;
}
.pagination{
    display: inline-block;
    color: var(--blue-color);
    font-size: 50px;
}
.pagination:hover{
    color: var(--pink-color);
    text-decoration: none;
}
.pagination:active{
    color: var(--pink-color);
    text-decoration: none;
}
.active{
    color: var(--pink-color);
}
.arrow{
font-size: 65px;
}
.section5{
    background-color:rgba(169, 191, 228, 0.2) ;
    height: 1100px;
}
.flowers-right{
   float: right;
   margin: 0 auto;
    position: relative;
    top: -150px;
}
.flowers-left{
    float: left;
    margin: 0 auto;
    position: relative;
    bottom: -140px;
}
.text-review{
    font-size: 21px;
}
.line-in-review{
    color: var(--pink-color);
    width: 70px;
    border: 2px solid  var(--pink-color);
    
}
.name-person{
    color: var(--blue-color);
    font-size: 19px;
}
.print-review{
    display: block;
    margin: 0 auto;
    padding: 0 150px;
}
.form-review{
    height: 120px;
    vertical-align: top;
}
.number{
    text-align: center;
    color: var(--blue-color);
    border-radius: 100px;
    font-size: 50px;
    box-shadow: 0 6px 10px var(--pink-color);
    width: 80px;
    margin: 10px auto;
}
.instruction{
    text-align: center;
    font-size: 23px;
    color:rgba(53, 31, 33, 1);
    padding: 5px 25px;
}